@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
}

.spm-bold{
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-style: normal;
}
.spm-thin{
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-style: normal;
}
.spm-normal{
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-style: normal;
}